@using Octopus.Models
@model Octopus.Models.CLIENTES
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Clientes - Nuevo";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}



<!-- pageContent -->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Clientes")" class="mdl-tabs__tab" style="color: #2e6da4">NUEVO</a>
            <a href="@Url.Action("List","Clientes")" class="mdl-tabs__tab">LISTA</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            NUEVO CLIENTE
                        </div>
                        <div class="full-width panel-content" >
                            @using (Html.BeginForm("Create", "Clientes", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CONDICIONIVA)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_TIPODOC)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_DOC)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_CUIL)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_NOMBRE)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_APELLIDO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_TELEFONO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_LOCALIDAD)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_PROVINCIA)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_PAIS)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_CF_CODPOSTAL)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_CUIT)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_LOCALIDAD)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_PROVINCIA)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_PAIS)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_CON_TIPODOC)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_CODPOSTAL)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_CON_DOC)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_CON_NOMBRE)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_CON_APELLIDO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.CLI_RI_CON_TELEFONO)</div>
                                
                                <div class="mdl-grid">
                                    <div class="mdl-textfield mdl-js-textfield">
                                        @Html.DropDownListFor(a => a.CLI_CONDICIONIVA, new SelectList(Enum.GetValues(typeof(Octopus.Models.CLIENTES.CLI_TIPO_IVA))), "Tipo de IVA", new { @class = "mdl-textfield__input", tabindex = "1", id = "OptionIVA" })
                                    </div>
                                    <div id="PersonalesL" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">DATOS PERSONALES</h5>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            @Html.DropDownListFor(a => a.CLI_CF_TIPODOC, new SelectList(Enum.GetValues(typeof(Octopus.Models.CLIENTES.TIPO_DOC))), "Tipo Documento", new { @class = "mdl-textfield__input", tabindex = "1", id = "Consumidor" })
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_NOMBRE, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nombre</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_DIRECCION, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Dirección</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_PROVINCIA, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "7" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Provincia</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_EMAIL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "9" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">E - Mail</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_TELEFONO, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "11" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Teléfono</label>
                                        </div>
                                    </div>

                                    <div id="PersonalesR" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">&nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_DOC, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "2" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nro Documento</label>
                                            
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_APELLIDO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "4" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Apellido</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_LOCALIDAD, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "6" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Localidad</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_PAIS, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "8" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">País</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_CODPOSTAL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "10" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Código Postal</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CF_CUIL, new { @class = "mdl-textfield__input", @typeof = "string", tabindex = "12" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Cuil</label>
                                        </div>
                                    </div>


                                    <div id="EmpresaLU" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">DATOS DE LA EMPRESA</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CUIT, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "13" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">CUIT</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_DIRECCION, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "15" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Dirección</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_PROVINCIA, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "17" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Provincia</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CODPOSTAL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "19" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Código Postal</label>
                                        </div>
                                    </div>

                                    <div id="EmpresaRU" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">&nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_RAZONSOCIAL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "14" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Razón Social</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_LOCALIDAD, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "16" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Localidad</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_PAIS, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "18" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">País</label>
                                        </div>
                                    </div>

                                    <div id="EmpresaLD" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">Contacto</h5>
                                        <div class="mdl-textfield mdl-js-textfield" >
                                            @Html.DropDownListFor(a => a.CLI_RI_CON_TIPODOC, new SelectList(Enum.GetValues(typeof(Octopus.Models.CLIENTES.TIPO_DOC))), "Tipo Documento", new { @class = "mdl-textfield__input", tabindex = "19", id = "Consumidor", style = "hidden" })
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" >
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_NOMBRE, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "21" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nombre</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_EMAIL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "23" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Email</label>
                                        </div>
                                    </div>

                                    <div id="EmpresaRD" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">&nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="height:26.1%;">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_DOC, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "20" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Documento</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="height:25.8%;">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_APELLIDO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "22" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Apellido</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_TELEFONO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "24" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Teléfono</label>
                                        </div>
                                    </div>
                                </div>
                                
                                <p id="Buttons" class="text-center">
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addAdmin">
                                        <i class="zmdi zmdi-account-add"></i>
                                    </button>
                                    <div class="mdl-tooltip" for="btn-addAdmin">Agregar Cliente</div>
                                </p>
                            }
                        </div>                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

