@using Octopus.Models
@model Octopus.Models.CLIENTES
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Clientes - Editar";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!-- pageContent -->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Clientes")" class="mdl-tabs__tab">NUEVO</a>
            <a href="@Url.Action("List","Clientes")" class="mdl-tabs__tab">LISTA</a>
            <a href="@Url.Action("Edit","Clientes")" class="mdl-tabs__tab" style="color: #2e6da4">EDITAR</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            EDITAR CLIENTE
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                //Valor de variable de session CONDICION IVA
                                <input type="hidden" value="@Session["CONDICIONIVA"]" id="myHiddenVar" />
                                
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(model => model.CLI_DOC)</div>
                                <div class="mdl-grid">
                                    <div class="mdl-textfield mdl-js-textfield">
                                        @Html.DropDownListFor(a => a.TC_ID, new SelectList(Enum.GetValues(typeof(Octopus.Models.CLIENTES.CLI_TIPO_IVA))), "Tipo de IVA", new { @class = "mdl-textfield__input", tabindex = "1", id = "OptionIVA", @disabled = "disabled"})
                                        <div>@Html.ValidationMessageFor(a => a.TC_ID)</div>
                                    </div>
                                    @Html.TextBoxFor(a => a.TC_ID, new { @class = "mdl-textfield__input", tabindex = "1", id = "OptionIVA", @hidden = "hidden" })
                                    <div id="PersonalesL" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">DATOS PERSONALES</h5>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            @Html.DropDownListFor(a => a.TD_ID, new SelectList(Enum.GetValues(typeof(Octopus.Models.CLIENTES.TIPO_DOC))), "Tipo Documento", new { @class = "mdl-textfield__input", tabindex = "1", id = "Consumidor" })
                                            <div>@Html.ValidationMessageFor(a => a.TD_ID)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_NOMBRE, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nombre</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_NOMBRE)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_DIRECCION, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Dirección</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_DIRECCION)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_PROVINCIA, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "7" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Provincia</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_PROVINCIA)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_EMAIL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "9" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">E - Mail</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_EMAIL)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_TELEFONO, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "11" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Teléfono</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_TELEFONO)</div>
                                        </div>
                                    </div>

                                    <div id="PersonalesR" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">&nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_DOC, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "2" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nro Documento</label>

                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_APELLIDO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "4" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Apellido</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_APELLIDO)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_LOCALIDAD, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "6" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Localidad</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_LOCALIDAD)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_PAIS, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "8" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">País</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_PAIS)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CODPOSTAL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "10" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Código Postal</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_CODPOSTAL)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_CUIL, new { @class = "mdl-textfield__input", @typeof = "string", tabindex = "12" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Cuil</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_CUIL)</div>
                                        </div>
                                    </div>


                                    <div id="EmpresaLU" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">DATOS DE LA EMPRESA</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CUIT, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">CUIT</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CUIT)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_DIRECCION, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Dirección</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_DIRECCION)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_PROVINCIA, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Provincia</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_PROVINCIA)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CODPOSTAL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "7" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Código Postal</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CODPOSTAL)</div>
                                        </div>
                                    </div>

                                    <div id="EmpresaRU" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">&nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_RAZONSOCIAL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Razón Social</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_RAZONSOCIAL)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_LOCALIDAD, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Localidad</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_LOCALIDAD)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_PAIS, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">País</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_PAIS)</div>
                                        </div>
                                    </div>

                                    <div id="EmpresaLD" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">Contacto</h5>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            @Html.DropDownListFor(a => a.CLI_RI_CON_TIPODOC, new SelectList(Enum.GetValues(typeof(Octopus.Models.CLIENTES.TIPO_DOC))), "Tipo Documento", new { @class = "mdl-textfield__input", tabindex = "1", id = "Consumidor", style = "hidden" })
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CON_TIPODOC)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_NOMBRE, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nombre</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CON_NOMBRE)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_EMAIL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "7" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Email</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CON_EMAIL)</div>
                                        </div>
                                    </div>

                                    <div id="EmpresaRD" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">&nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="height:26.1%;">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_DOC, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Documento</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CON_DOC)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="height:25.8%;">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_APELLIDO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Apellido</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CON_APELLIDO)</div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.CLI_RI_CON_TELEFONO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "7" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Teléfono</label>
                                            <div>@Html.ValidationMessageFor(a => a.CLI_RI_CON_TELEFONO)</div>
                                        </div>
                                    </div>
                                </div>

                                <p class="text-center">
                                    <button name="Action" value="Edit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-editClient">
                                        <i class="zmdi zmdi-save"></i>
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="mdl-tooltip" for="btn-editClient">Guardar Cambios</div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
