@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Octopus.Models.CLIENTES>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!-- Page Content-->-->
<section class="full-width pageContent">
    <div>
        <section id="help">
            <div class="text-right" style="padding-top:15px; padding-right:15px;">
                <button id="btn-help-top" type="button" class="btn btn-info help"><i class="zmdi zmdi-pin-help"></i> Ayuda</button>
                <div class="mdl-tooltip" for="btn-help-top">Ayuda</div>
            </div>
        </section>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Clientes")" class="mdl-tabs__tab" id="btn-Nuevo">NUEVO</a>
            <div class="mdl-tooltip" for="btn-Nuevo">Nuevo Cliente</div>
            <a class="mdl-tabs__tab" style="color: #2e6da4; font-weight: bold">LISTA</a>
            <div class="mdl-tooltip" for="btn-Listar">Listar Clientes</div>
        </div>

        <section class="full-width header-well">

            <div class="full-width header-well-icon">
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="full-width header-well-text">
                <p class="text-condensedLight">
                    <b>LISTADO DE CLIENTES</b><br />
                    Presione sobre los 3 puntos para ver los detalles
                </p>
                <br />
            </div>
        </section>
        <div class="full-width divider-menu-h"></div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                @using (Html.BeginForm("List", "Clientes", FormMethod.Get))
                {
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <button id="btn-help-search" type="button" class="btn btn-info help-search"><i class="zmdi zmdi-pin-help"></i></button>
                        <div class="mdl-tooltip" for="btn-help-search">Ayuda</div>
                         <label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient" id="btn-searchClient">
                            <i class="zmdi zmdi-search" onclick=""></i>
                        </label>
                        <div class="mdl-tooltip" for="btn-searchClient">Buscar</div>
                        <div class="mdl-textfield__expandable-holder">
                            @Html.TextBox("searchClient", null, new { @class = "mdl-textfield__input" })
                        </div>
                        <input type="submit" value="Filtrar" style="border: none; color: #2e6da4; background-color:none; visibility:hidden" />
                    </div>
                }
                <div class="table-responsive">
                    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                        <thead>
                            <tr>
                                <th style="text-align:left"><b>CLIENTE</b></th>
                                <th style="text-align: left"><b>DNI</b></th>
                                <th style="text-align: left"><b>RAZÓN SOCIAL - CUIT/L</b></th>
                                <th style="text-align: left"><b>TELÉFONO</b></th>
                                <th style="text-align: left"><b>MAIL</b></th>
                                <th style="text-align: center"> <button id="btn-help-list" type="button" class="btn btn-info help-detail"><i class="zmdi zmdi-pin-help"></i></button></th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @{var cont = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="text-align: left"><b>@Html.DisplayFor(modelItem => item.CLI_APELLIDO_NOMBRE)</b></td>
                                    <td style="text-align: left">@Html.DisplayFor(modelItem => item.CLI_DOC)</td>
                                    <td style="text-align: left">@Html.DisplayFor(modelItem => item.CLI_RAZONSOCIAL_CUIT)</td>
                                    <td style="text-align: left">@Html.DisplayFor(modelItem => item.CLI_RI_TELEFONO)</td>
                                    <td style="text-align: left">@Html.DisplayFor(modelItem => item.CLI_EMAIL)</td>
                                    @{cont = cont + 1;}
                                    <td style="text-align: center"><a class="mdl-list__item-secondary-action" href="@Url.Action("Details", "Clientes", new { id = item.CLI_ID})"><i class="zmdi zmdi-more" style="color: #2e6da4"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mdl-tooltip" for="btn-help-list">Ayuda</div>
        <div style="text-align:center;" title="Paginación">
            @Html.PagedListPager(Model, page => Url.Action("List", "Clientes", new { page, search = Request.QueryString["search"], @class = "list-unstyle text-center" }))
        </div>
        </div>
</section>


