@model IEnumerable<Octopus.Models.CLIENTES>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!-- Page Content-->-->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Clientes")" class="mdl-tabs__tab" id="btn-Nuevo">NUEVO</a>
            <div class="mdl-tooltip" for="btn-Nuevo">Nuevo Cliente</div>
            <a href="@Url.Action("List","Clientes")" class="mdl-tabs__tab" style="color: #2e6da4" id="btn-Listar">LISTA</a>
            <div class="mdl-tooltip" for="btn-Listar">Listar Clientes</div>
        </div>
        <div class="mdl-tabs__panel" id="tabListClient">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            LISTA DE CLIENTES
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm("List", "Clientes", FormMethod.Get))
                            {
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="searchClient" id="btn-searchClient">
                                        <i class="zmdi zmdi-search" onclick=""></i>
                                    </label>
                                    <div class="mdl-tooltip" for="btn-searchClient">Buscar Clientes</div>
                                    <div class="mdl-textfield__expandable-holder">
                                        @Html.TextBox("searchClient", null, new { @class = "mdl-textfield__input" })
                                    </div>
                                    <input type="submit" value="Filtrar" style="border: none; color: #2e6da4; background-color:none; visibility:hidden" />
                                </div>
                            }
                            <div class="mdl-list">
                                @{var cont = 0;}
                                @foreach (var item in Model)
                                {
                                    <div class="mdl-list__item mdl-list__item--two-line">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="zmdi zmdi-account mdl-list__item-avatar"></i>
                                            @if (item.TC_ID.Equals(1))
                                            { 
                                                <span><b>@Html.DisplayFor(modelItem => item.TIPO_CLIENTE.TC_DESCRIPCION): </b> @Html.DisplayFor(modelItem => item.CLI_APELLIDO) @Html.DisplayFor(modelItem => item.CLI_NOMBRE)</span>
                                                <span class="mdl-list__item-sub-title">@Html.DisplayFor(modelItem => item.TIPO_DOCUMENTO.TD_DESCRIPCION): @Html.DisplayFor(modelItem => item.CLI_DOC)</span>
                                            }
                                            else
                                            {
                                                <span><b>@Html.DisplayFor(modelItem => item.TIPO_CLIENTE.TC_DESCRIPCION): </b> @Html.DisplayFor(modelItem => item.CLI_RI_RAZONSOCIAL)</span>
                                                <span class="mdl-list__item-sub-title">CUIT: @Html.DisplayFor(modelItem => item.CLI_RI_CUIT)</span>
                                            }
                                        </span>
                                        @{cont = cont + 1;}
                                        <a id="btn-Detail@{@cont}" class="mdl-list__item-secondary-action" href="@Url.Action("Details", "Clientes", new { id = item.CLI_ID })"><i class="zmdi zmdi-more" style="color: #2e6da4"></i></a>
                                        <div class="mdl-tooltip" for="btn-Detail@{@cont}">Detalle Cliente</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


