@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Octopus.Models.PRESUPUESTOS>

@{ //if(Session["Usuario"] != null)
    //{
    // USUARIOS user = Session["Usuario"] as USUARIOS;
    ViewBag.Title = "Presupuestos";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
    // }
    //else
    //{
    //  @Url.Action("Login","Login")
    // }
}

<section class="full-width pageContent">
    <section id="help">
        <div class="text-right" style="padding-top:15px; padding-right:15px;">
            <button id="btn-exit" type="button" class="btn btn-info help"><i class="zmdi zmdi-pin-help"></i> Ayuda</button>
           
        </div>
    </section>

    <div class="mdl-tabs__tab-bar">
        <a href="@Url.Action("Create", "Presupuestos")" class="mdl-tabs__tab" >NUEVO</a>
        <a  class="mdl-tabs__tab" id="btn-Listar" style="color: #2e6da4">LISTA</a>
        <div class="mdl-tooltip" for="btn-Listar">Listar Vehículos</div>
    </div>

    <section class="full-width header-well">
       
            <div class="full-width header-well-icon">
                <i class="zmdi zmdi-trending-up"></i>
            </div>
            <div class="full-width header-well-text">
                <p class="text-condensedLight">
                    <b>LISTADO DE PRESUPUESTOS</b><br />
                    Presione sobre los 3 puntos para ver los detalles
                </p>
                <br />
            </div>
    </section>
    
    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            @using (Html.BeginForm("List", "Presupuestos", FormMethod.Get))
            {
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    
                    <button id="btn-exit" type="button" class="btn btn-info help-search"><i class="zmdi zmdi-pin-help"></i></button>
                   
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="searchPresupuesto" id="btn-searchPresupuesto">
                        <i class="zmdi zmdi-search" onclick=""></i>
                    </label>
                    <div class="mdl-tooltip" for="btn-searchPresupuesto">Buscar Presupuesto</div>
                    <div class="mdl-textfield__expandable-holder">
                        @Html.TextBox("searchPresupuesto", null, new { @class = "mdl-textfield__input" })
                    </div>
                    <input type="submit" value="Filtrar" style="border: none; color: #2e6da4; background-color:none; visibility:hidden" />
                </div>
            }
            <div class="table-responsive">
                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width">
                    <thead>
                        <tr>
                            <th style="text-align:left"><b>CLIENTE</b></th>
                            <th style="text-align: left"><b>MARCA</b></th>
                            <th style="text-align: left"><b>MODELO</b></th>
                            <th style="text-align: left"><b>VERSIÓN</b></th>
                            <th style="text-align: left"><b>AÑO</b></th>
                            <th style="text-align: left"><b>PATENTE</b></th>
                            <th style="text-align: left"><b>VENCIMIENTO</b></th>
                            <th style="text-align: center"> <button id="btn-exit" type="button" class="btn btn-info help-detail"><i class="zmdi zmdi-pin-help"></i></button></th>

</tr>
                    </thead>
                    <tbody>
                        @{var cont = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: left">@Html.DisplayFor(modelItem => item.CLIENTES.CLI_APELLIDO_NOMBRE)</td>
                                <td style="text-align: left">@Html.DisplayFor(modelItem => item.MARCAS.MAR_DESCRIPCION)</td>
                                <td style="text-align: left">@Html.DisplayFor(modelItem => item.PRE_MODELO)</td>
                                <td style="text-align: left">@Html.DisplayFor(modelItem => item.PRE_VERSION)</td>
                                <td style="text-align: left">@Html.DisplayFor(modelItem => item.PRE_ANIO)</td>
                                <td style="text-align: left">@Html.DisplayFor(modelItem => item.PRE_PATENTE)</td>
                                <td style="text-align: left">@Html.DisplayFor(modelItem => item.FechaHasta)</td>
                                @{cont = cont + 1;}
                                <td style="text-align: center"><a class="mdl-list__item-secondary-action" href="@Url.Action("Details", "Presupuestos", new { id = item.PRE_ID })"><i class="zmdi zmdi-more" style="color: #2e6da4"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="text-align:center;">
        @Html.PagedListPager(Model, page => Url.Action("List", "Presupuestos", new { page, search = Request.QueryString["search"], @class = "list-unstyle text-center" }))
    </div>
    @*<p class="text-center">
        <a href="@Url.Action("Create", "Presupuestos")" class="btn btn-primary " role="button" id="btn-Nuevo">AGREGAR NUEVO PRESUPUESTO</a>
        <div class="mdl-tooltip" for="btn-Nuevo">Agregar Presupuesto</div>
    </p>*@    

</section>

<link rel="stylesheet" href="~/Css/bootstrap_pag.css" />