@using Octopus.Models
@model Octopus.Models.SUCURSALES
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Sucursales - Editar";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!-- pageContent -->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Sucursales")" class="mdl-tabs__tab">NUEVO</a>
            <a href="@Url.Action("List", "Sucursales")" class="mdl-tabs__tab">LISTA</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            EDITAR SUCURSAL
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.SUC_DESCRIP)</div>
                                
                                <div class="mdl-grid">
                                    <div class="mdl-textfield mdl-js-textfield">
                                       
                                        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                           
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                @Html.TextBoxFor(a => a.SUC_DESCRIP, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "1", required = "required" })
                                                <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">SUCURSAL</label>
                                               
                                            </div>
                                         
                                    </div></div></div>
                                <p class="text-center">
                                    <button name="Action" value="Edit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-editClient">
                                        <i class="zmdi zmdi-save"></i>
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="mdl-tooltip" for="btn-editSucursal">Guardar Cambios</div>
                                </p>
                               }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
