@model Octopus.Models.VENTAS

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>VENTAS</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.VEN_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.FEC_ID, "FEC_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FEC_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.FEC_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CLI_ID, "CLI_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CLI_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.CLI_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VEH_ID, "VEH_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("VEH_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.VEH_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMP_ID, "EMP_ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EMP_ID", String.Empty)
                @Html.ValidationMessageFor(model => model.EMP_ID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MONTO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MONTO)
                @Html.ValidationMessageFor(model => model.MONTO)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
