@using Octopus.Models


@if (Session["Username"] != null) {
    
<!DOCTYPE html>

<html>
<head>
   
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OC - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Css/normalize.css">
    <link rel="stylesheet" href="~/Css/sweetalert2.css">
    <link rel="stylesheet" href="~/Css/material.min.css">
    <link rel="stylesheet" href="~/Css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/Css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Css/flaticon.css"> 
    <!-- Carousel Slider -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.1.0.js"></script>
@*
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    
    @*<script type='text/javascript' src="~/Scripts/jquery.validate.unobtrusive.min.js" ></script>*@
    @*<script type='text/javascript' src="~/Scripts/jquery.validate.js" ></script>*@
    @*<script type='text/javascript' src="~/Scripts/bootstrap.js"></script>
    <script type='text/javascript' src="~/Scripts/bootstrap.min.js"></script>*@ 
    <script src="@Url.Content("~/Scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script> 
    <script type='text/javascript' src="~/Js/material.min.js"></script>
    <script type='text/javascript' src="~/Js/material.min.js"></script>
    <script type='text/javascript' src="~/Js/sweetalert2.min.js"></script>
    <script type='text/javascript' src="~/Js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type='text/javascript' src="~/Js/Clientes.js"></script>
    <script type='text/javascript' src="~/Js/Vehiculos.js"></script>
    <script type='text/javascript' src="~/Js/Reservas.js"></script>
    <script type='text/javascript' src="~/Js/Ventas.js"></script>
    <script type='text/javascript' src="~/Js/Presupuestos.js"></script>
    <script type='text/javascript' src="~/Js/main.js"></script>
    <script>
        function msg() {
            alert("Hello world!");
        }
    </script>

</head>
<body>
    <!-- navBar -->
    <div class="full-width navBar" style="background-color: #2e6da4">

        <div class="full-width navBar-options">
            <i class="zmdi zmdi-more-vert btn-menu" id="btn-menu"></i>
            <div class="mdl-tooltip" for="btn-menu">Menu</div>
           
                <nav class="navBar-options-list ">
                    <ul>
                        <li class="nav-item dropleft">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" style="color:white;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             
                              @Session["Username"].ToString()
                             
                                </a> 
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="@Url.Action("LogOut", "Login")">Cerrar Sesión</a>
                            </div>
                        </li>
                       
                    </ul>
                </nav>
</div>
    </div>
    <!-- navLateral -->
    <section class="full-width navLateral">
        <div class="full-width navLateral-bg btn-menu"></div>
        <div class="full-width navLateral-body">
            <div class="full-width navLateral-body-logo tittles" style="background-color: #2e6da4">
                <i class="zmdi zmdi-close btn-menu"></i>  RAYCO S.R.L
            </div>
            <div class="full-width text-center">
                <figure class="full-width " style="   width: 150px;">
                    @*<div class="navLateral-body-cl"  >*@
                    <img src="~/Image/rayco_logo.jpg" alt="Avatar" class="img-responsive" style=" height: 100px;">
                    @*</div>*@

                    @*<figcaption class="navLateral-body-cr hide-on-tablet">
                    <span>
                     <br>
                        <small></small>
                    </span>
                </figcaption>*@
                </figure>
            </div>
            <div class="full-width tittles navLateral-body-tittle-menu">
                <i class="zmdi zmdi-desktop-mac"></i><span class="hide-on-tablet">&nbsp; MENÚ DE GESTIÓN</span>
            </div>
            <nav class="full-width">
                <ul class="full-width list-unstyle menu-principal">
                    <li class="full-width">
                        <a href="@Url.Action("Home","Home")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-view-dashboard"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                INICIO
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Clientes")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-star"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                CLIENTES
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Vehiculos")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-car"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                VEHÍCULOS
                            </div>
                        </a>
                    </li>
            @if (Session["Rol"].ToString() == "0" || Session["Rol"].ToString() == "1") //Admin
                {
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Empleados")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-face"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                EMPLEADOS
                            </div>
                        </a>
                    </li>
                }
                @if (Session["Rol"].ToString() == "0") //Admin
                {
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Sucursales")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-local-store"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                SUCURSALES
                            </div>
                        </a>
                    </li>
               
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Usuarios")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                USUARIOS
                            </div>
                        </a>
                    </li>
                  }
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Reservas")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-case"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                RESERVAS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="sales.html" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                VENTAS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Presupuestos")" class="full-width">

                                 <div class="navLateral-body-cl">
                                    <i class="zmdi zmdi-store"></i>
                                </div>
                                <div class="navLateral-body-cr hide-on-tablet">
                                    PRESUPUESTOS
                                </div>
                            </a>
</li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("Report","Presupuestos")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-search-in-file"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                REPORTES DE PRESUPUESTOS
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>



    @RenderBody()
    @Scripts.Render("~/bundles/jquery") 
  
       
</body>

</html>
}
else { Response.Redirect("~/Login/Login"); }