@using Octopus.Models
@{
       USUARIOS user = Session["Usuario"] as USUARIOS;
   }


<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OC - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/Css/normalize.css">
    <link rel="stylesheet" href="~/Css/sweetalert2.css">
    <link rel="stylesheet" href="~/Css/material.min.css">
    <link rel="stylesheet" href="~/Css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/Css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Css/flaticon.css"> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
    <!--<script src="../Js/material.min.js"></script>-->
    <script src="~/Js/material.min.js"></script>
    <script src="~/Js/sweetalert2.min.js"></script>
    <script src="~/Js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Js/main.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.2.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js">
    </script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js">
    </script>
    <script type='text/javascript' src="~/Js/Clientes.js"></script>
    <script type='text/javascript' src="~/Js/Vehiculos.js"></script>
</head>
<body>
    <!-- navBar -->
    <div class="full-width navBar" style="background-color: #2e6da4">
        <div class="full-width navBar-options">
            <i class="zmdi zmdi-more-vert btn-menu" id="btn-menu"></i>
            <div class="mdl-tooltip" for="btn-menu">Menu</div>
            <nav class="navBar-options-list">
                <ul class="list-unstyle">
                    <li class="btn-exit" id="btn-exit">
                        <i class="zmdi zmdi-power"></i>
                        <div class="mdl-tooltip" for="btn-exit">LogOut</div>
                    </li>
                    <li class="text-condensedLight noLink"><small>@user.Usuario</small></li>
                    <li class="noLink">
                        <figure>
                            <img src="~/Assets/img/avatar-male.png" alt="Avatar" class="img-responsive">
                        </figure>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- navLateral -->
    <section class="full-width navLateral">
        <div class="full-width navLateral-bg btn-menu"></div>
        <div class="full-width navLateral-body">
            <div class="full-width navLateral-body-logo tittles" style="background-color: #2e6da4">
                <i class="zmdi zmdi-close btn-menu"></i>  RAYCO S.R.L
            </div>
            <figure class="full-width" style="height: 77px;">
                <div class="navLateral-body-cl">
                    <img src="~/Assets/img/avatar-male.png" alt="Avatar" class="img-responsive">
                </div>
                <figcaption class="navLateral-body-cr hide-on-tablet">
                    <span>
                        @user.Nombre @user.Apellido<br>
                        <small>@user.Rol</small>
                    </span>
                </figcaption>
            </figure>
            <div class="full-width tittles navLateral-body-tittle-menu">
                <i class="zmdi zmdi-desktop-mac"></i><span class="hide-on-tablet">&nbsp; MENÚ DE GESTIÓN</span>
            </div>
            <nav class="full-width">
                <ul class="full-width list-unstyle menu-principal">
                    <li class="full-width">
                        <a href="home.html" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-view-dashboard"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                INICIO
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Clientes")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                CLIENTES
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Vehiculos")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-car"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                VEHÍCULOS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Empleados")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                EMPLEADOS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="@Url.Action("List","Usuarios")" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                USUARIOS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="#!" class="full-width btn-subMenu">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-case"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                RESERVAS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="sales.html" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                VENTAS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="inventory.html" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-store"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                PRESUPUESTOS
                            </div>
                        </a>
                    </li>
                    <li class="full-width divider-menu-h"></li>
                    <li class="full-width">
                        <a href="inventory.html" class="full-width">
                            <div class="navLateral-body-cl">
                                <i class="zmdi zmdi-shopping-cart"></i>
                            </div>
                            <div class="navLateral-body-cr hide-on-tablet">
                                REPORTES
                            </div>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
