@using Octopus.Models
@model Octopus.Models.USUARIOS
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "USUARIOS - Nuevo";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}


<!-- pageContent -->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("List","USUARIOS")" class="mdl-tabs__tab">LISTA</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            NUEVO USUARIO
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm("Create", "USUARIOS", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Usuario)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Contraseña)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Rol)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Estado)</div>
                              
                                <div class="mdl-grid">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(a => a.Usuario, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "1" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Usuario*</label>
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(a => a.Contraseña, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "2" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Contraseña*</label>
                                    </div>

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.DropDownListFor(a => a.Rol, (IEnumerable<SelectListItem>)ViewBag.Rol, "Seleccione el Rol*", new { @class = "mdl-textfield__input", tabindex = "3" })
                                    </div>

                                    @*<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.DropDownListFor(a => a.Estado, (IEnumerable<SelectListItem>)ViewBag.Estado, "Seleccione un Estado*", new { @class = "mdl-textfield__input", tabindex = "4" })
                                    </div>*@

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.DropDownListFor(a => a.emp_id, (IEnumerable<SelectListItem>)ViewBag.EMPLEADOS, "Seleccione un Empleado", new { @class = "mdl-textfield__input", tabindex = "5" })
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <p style="color:red">Los campos * son obligatorios</p>
                                    </div>
                                </div>

                                <p class="text-center">
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addAdmin" data-toggle="tooltip" data-placement="top" title="Agregar Usuario">
                                        <i class="zmdi zmdi-account-add"></i>
                                    </button>
                                </p>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


