@using Octopus.Models
@model Octopus.Models.USUARIOS
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Usuarios - Editar";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!-- pageContent -->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Usuarios")" class="mdl-tabs__tab">NUEVO</a>
            <a href="@Url.Action("List", "Usuarios")" class="mdl-tabs__tab">LISTA</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            EDITAR EMPLEADO
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Usuario)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Contraseña)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Rol)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.Estado)</div>
                                <div class="mdl-grid">


                                    <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.Usuario, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "1" , @readonly= "true"})
                                            <label class="mdl-textfield__label" style="color: #2e6da4">Usuario</label>
                                        </div>

                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.Contraseña, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "2" })
                                            <label class="mdl-textfield__label" style="color: #2e6da4">Contraseña</label>
                                        </div>

                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.DropDownListFor(a => a.Rol, Model.Roles_List, new { @class = "mdl-textfield__input", tabindex = "3" })
                                            <label class="mdl-textfield__label" style="color: #2e6da4">Rol</label>
                                        </div>

                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.DropDownListFor(a => a.Estado, Model.Estados_List, new { @class = "mdl-textfield__input", tabindex = "4" })
                                            <label class="mdl-textfield__label" style="color: #2e6da4">Estado</label>
                                        </div>

                                    
                                    </div>
                                </div>
                                <p class="text-center">
                                    <button name="Action" value="Edit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-editClient" data-toggle="tooltip" data-placement="top" title="Guardar Cambios">
                                        <i class="zmdi zmdi-save"></i>
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                </p>
                            }

                        </div>
                    </div>
                </div>
            </div>
       </div>
   </div>
</section>
