@model IEnumerable<Octopus.Models.EMPLEADOS>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EMP_CODPOSTAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_APELLIDO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_EMAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_USER)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_PASSWORD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_TIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_DIRECCION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_TELEFONO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMP_APELLIDO_NOMBRE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUCURSALES.SUC_DESCRIP)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_CODPOSTAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_APELLIDO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_EMAIL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_USER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_PASSWORD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_TIPO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_DIRECCION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_TELEFONO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EMP_APELLIDO_NOMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SUCURSALES.SUC_DESCRIP)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EMP_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.EMP_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EMP_ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
