@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Octopus.Models.USUARIOS>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!DOCTYPE html>

<!-- Page Content-->-->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Usuarios")" class="mdl-tabs__tab">NUEVO</a>
            <a href="@Url.Action("List","Usuarios")" class="mdl-tabs__tab" style="color: #2e6da4">LISTA DE USUARIOS ACTIVOS</a>
            <a href="@Url.Action("ListInactivos","Usuarios")" class="mdl-tabs__tab" style="color: #2e6da4">LISTA DE USUARIOS INACTIVOS</a>
        </div>

        <div class="mdl-tabs__panel" id="tabListUsuarios">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            LISTA DE USUARIOS
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm("ListInactivos", "Usuarios", FormMethod.Get))
                            {
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="searchUser" id="btn-searchUser" data-toggle="tooltip" data-placement="bottom" title="Buscar Usuario">
                                        <i class="zmdi zmdi-search" onclick=""></i>
                                    </label>
                                    <div class="mdl-textfield__expandable-holder">
                                        @Html.TextBox("searchUser", null, new { @class = "mdl-textfield__input" })
                                    </div>
                                    <input type="submit" value="Filtrar" style="border: none; color: #2e6da4; background-color:none; visibility:hidden" />
                                </div>
                            }
                            <div class="mdl-list">
                                @foreach (var item in Model)
                                {
                                    <div class="mdl-list__item mdl-list__item--two-line" style="padding: 4px;">
                                        <span class="mdl-list__item-primary-content">
                                            <i class="zmdi zmdi-account mdl-list__item-avatar"></i>
                                            <span>Usuario: @Html.DisplayFor(modelItem => item.Usuario)</span><br />
                                            @if (item.getEmpleado(item.Usuario) == null || item.getEmpleado(item.Usuario) == null)
                                            {    <span class="mdl-list__item-sub-title" style="color:#CF2412;">No tiene un empelado asignado</span>
                                            }
                                            else
                                            {
                                                <span class="mdl-list__item-sub-title">Nombre y Apellido: @Html.DisplayFor(modelItem => item.getEmpleado(item.Usuario).EMP_NOMBRE), @Html.DisplayFor(modelItem => item.getEmpleado(item.Usuario).EMP_APELLIDO)</span>
                                            }
                                        </span>
                                        <a class="mdl-list__item-secondary-action" href="@Url.Action("Details", "Usuarios", new { user = item.Usuario })"><i class="zmdi zmdi-more" style="color: #2e6da4"></i></a>
                                    </div>
                                    <hr />
                                }
                            </div>
                        </div>
                        <div style="text-align:center;">
                            @Html.PagedListPager(Model, page => Url.Action("ListInactivos", "Usuarios", new { page, search = Request.QueryString["search"], @class = "list-unstyle text-center" }))
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="~/Css/bootstrap_pag.css" />