@using Octopus.Models
@model Octopus.Models.VEHICULOS
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Vehículos - Nuevo";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}


<!-- pageContent -->
<section class="full-width pageContent">
    
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Vehiculos")" class="mdl-tabs__tab" style="color: #2e6da4">NUEVO</a>
            <a href="@Url.Action("List", "Vehiculos")" class="mdl-tabs__tab">LISTA</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            NUEVO VEHÍCULO
                        </div>
                        <div class="full-width panel-content">
                            
                            @using (Html.BeginForm("Create", "Vehiculos", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_PATENTE)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_MARCA)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_MODELO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_CILINDRADAS)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_COLOR)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_KILOMETROS)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_AÑO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_TIPOVEHICULO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.VEH_PRECIO_INGRESO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(model => model.CLI_ID)</div>
                                <div class="mdl-grid">
                                    <div id="VehiculoLU" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">SUCURSAL Y EX-PROPIETARIO</h5>
                                        <div class="mdl-textfield mdl-js-textfield" >
                                            @Html.DropDownList("SUC_ID", null, "Sucursal", new { @class = "mdl-textfield__input", tabindex = "1" })
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            @Html.DropDownList("CLI_CONDICIONIVA", null, "Tipo de IVA", new { @class = "mdl-textfield__input", tabindex = "2", id = "OptionIVA" })
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <input type="date" class="mdl-textfield__input" name="fecha">
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4"></label>
                                        </div>
                                    </div>

                                    <div id="VehiculoRU" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight">  &nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield">
                                            @Html.DropDownList("EMP_ID", null, "Empleado", new { @class = "mdl-textfield__input", tabindex = "1" })
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield" id="VEH_CLI_RI_ID">
                                            @Html.DropDownList("CLI_RI_ID", null, "Cuit Cliente", new { @class = "mdl-textfield__input", tabindex = "1" })
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield" id="VEH_CLI_CF_ID">
                                            @Html.DropDownList("CLI_CF_ID", null, "DNI Cliente", new { @class = "mdl-textfield__input", tabindex = "1" })
                                        </div>
                                    </div>

                                    <div id="VehiculoLM" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">VEHICULO</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_PATENTE, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Patente</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_MODELO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "5" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Modelo</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_CILINDRADAS, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "7" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Cilindradas</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_KILOMETROS, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "9" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Kilometros</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_COLOR, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "11" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Color</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_PUERTAS, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "11" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Cantidad de Puertas</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_DETALLES, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "15" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Detalles</label>
                                        </div>
                                    </div>

                                    <div id="VehiculoRM" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight">  &nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_MARCA, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "4" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Marca</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_VERSION, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "6" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Versión</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_TIPOVEHICULO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "8" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Tipo de Vehículo</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_AÑO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "10" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Año</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_TIPOCOMBUSTIBLE, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "10" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Tipo de Combustible</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_PRECIO_INGRESO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "14" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Precio de Ingreso</label>
                                        </div>
                                    </div>

                                    <div id="VehiculoLD" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">STEREO</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_STEREO_MODELO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "17" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">MODELO</label>
                                        </div>
                                    </div>

                                    <div id="VehiculoRD" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight">  &nbsp;</h5>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            @Html.TextBoxFor(a => a.VEH_STEREO_CODIGO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "18" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">CÓDIGO</label>
                                        </div>
                                    </div>

                                    <div id="VehiculoVarios" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <h5 class="text-condensedLight" style="color: #2e6da4">VARIOS</h5>
                                        <br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_CIERRE, new { tabindex = "17" }) Cierre &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_LLANTAS, new { tabindex = "18" }) LLantas &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_AIRBAG, new { tabindex = "19" }) Airabg &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_AIRE, new { tabindex = "20" }) Aire &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_LEVANTA_VIDRIOS, new { tabindex = "21" }) Levanta Vidrios &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_ESPEJOS_AUTOM, new { tabindex = "22" }) Espejos Automáticos &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_ASIENTOS_CUERO, new { tabindex = "23" }) Asientos de Cuero &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_FRENOS_ABS, new { tabindex = "24" }) Frenos ABS &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_NEBLINEROS, new { tabindex = "25" }) Neblineros &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                        <label class="mdl-radio" for="option-1">
                                            @Html.EditorFor(model => model.VEH_RUEDA_AUXILIAR, new { tabindex = "26" }) Rueda Auxiliar &nbsp;&nbsp;&nbsp;
                                        </label><br />
                                    </div>

                                    <div id="VehiculoImagenes" class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                        <br style="margin-top:3px" />
                                        <h5 class="text-condensedLight" style="color: #2e6da4">&nbsp;</h5>
                                        <br />
                                        <input type="file" name="image1" /> <hr />
                                        <input type="file" name="image2" /> <hr />
                                        <input type="file" name="image3" /> <hr />
                                        <input type="file" name="image4" /> <hr />
                                    </div>
                                </div>

                                <p class="text-center">
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addAdmin">
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                    <div class="mdl-tooltip" for="btn-addAdmin">Agregar Vehículo</div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
