@model Octopus.Models.VEHICULOS

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>VEHICULOS</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.VEH_MARCA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_MARCA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_MODELO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_MODELO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_VERSION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_VERSION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_CILINDRADAS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_CILINDRADAS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_COLOR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_COLOR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_TIPO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_TIPO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_KILOMETROS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_KILOMETROS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_DETALLES)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_DETALLES)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_PUERTAS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_PUERTAS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_TIPOCOMBUSTIBLE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_TIPOCOMBUSTIBLE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_AÑO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_AÑO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_PATENTE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_PATENTE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_TIPOVEHICULO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_TIPOVEHICULO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_VIGENTE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_VIGENTE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_PRECIO_INGRESO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_PRECIO_INGRESO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_CIERRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_CIERRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_LLANTAS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_LLANTAS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_AIRBAG)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_AIRBAG)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_AIRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_AIRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_LEVANTA_VIDRIOS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_LEVANTA_VIDRIOS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_FRENOS_ABS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_FRENOS_ABS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_NEBLINEROS)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_NEBLINEROS)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_ESPEJOS_AUTOM)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_ESPEJOS_AUTOM)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_ASIENTOS_CUERO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_ASIENTOS_CUERO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_RUEDA_AUXILIAR)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_RUEDA_AUXILIAR)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_STEREO_MODELO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_STEREO_MODELO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.VEH_STEREO_CODIGO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.VEH_STEREO_CODIGO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CLIENTES.CLI_NOMBRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CLIENTES.CLI_NOMBRE)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.INGRESOS.VEH_ID)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.INGRESOS.VEH_ID)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SUCURSALES.SUC_DESCRIP)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SUCURSALES.SUC_DESCRIP)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
