@model IEnumerable<Octopus.Models.VEHICULOS>
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Vehículos";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!-- Page Content-->-->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Vehiculos")" class="mdl-tabs__tab" id="btn-Nuevo">NUEVO</a>
            <div class="mdl-tooltip" for="btn-Nuevo">Nuevo Vehículo</div>
            <a href="@Url.Action("List", "Vehiculos")" class="mdl-tabs__tab" style="color: #2e6da4" id="btn-Listar">LISTA</a>
            <div class="mdl-tooltip" for="btn-Listar">Listar Vehículos</div>
        </div>

        <div class="mdl-tabs__panel" id="tabListProducts">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            LISTA DE VEHÍCULO
                        </div>
                        @using (Html.BeginForm("List", "Vehiculos", FormMethod.Get))
                        {
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                <label class="mdl-button mdl-js-button mdl-button--icon" for="searchVehicle" id="btn-searchVehicle">
                                    <i class="zmdi zmdi-search" onclick=""></i>
                                </label>
                                <div class="mdl-tooltip" for="btn-searchVehicle">Buscar</div>
                                <div class="mdl-textfield__expandable-holder">
                                    @Html.TextBox("searchVehicle", null, new { @class = "mdl-textfield__input" })
                                </div>
                                <input type="submit" value="Filtrar" style="border: none; color: #2e6da4; background-color:none; visibility:hidden" />
                            </div>
                        }
                        <nav class="full-width menu-categories">
                            @foreach (var tv in ViewBag.TV_ID)
                            {
                                @tv.Text
                            }

                            @foreach (var m in ViewBag.VW_MAR)
                            {
                                @m.Text
                            }
                            <ul class="list-unstyle text-center">
                                        <li><a href="@Url.Action("List", "Vehiculos")" style="color: #2e6da4">TODOS</a></li>
                                        <li><a href="#!" style="color: #2e6da4"> | </a></li>
                                        <li><a href="@Url.Action("List", "Vehiculos", new { searchVehicle = "Ford" })" style="color: #2e6da4">Ford</a></li>
                                        <li><a href="#!" style="color: #2e6da4"> | </a></li>
                                        <li><a href="@Url.Action("List", "Vehiculos", new { searchVehicle = "Renault" })" style="color: #2e6da4">Renault</a></li>
                                        <li><a href="#!" style="color: #2e6da4"> | </a></li>
                                        <li><a href="@Url.Action("List", "Vehiculos", new { searchVehicle = "Chevrolet" })" style="color: #2e6da4">Chevrolet</a></li>
                                        <li><a href="#!" style="color: #2e6da4"> | </a></li>
                                        <li><a href="@Url.Action("List", "Vehiculos", new { searchVehicle = "Volkswagen" })" style="color: #2e6da4">Volkswagen</a></li>
                                        <li><a href="#!" style="color: #2e6da4"> | </a></li>
                                        <li><a href="@Url.Action("List", "Vehiculos", new { searchVehicle = "Toyota" })" style="color: #2e6da4">Toyota</a></li>
                                        <li><a href="#!" style="color: #2e6da4"> | </a></li>
                                        <li><a href="@Url.Action("List", "Vehiculos", new { searchVehicle = "Porsche" })" style="color: #2e6da4">Porsche</a></li>
                            </ul>
                        </nav>
                        <div class="full-width text-center" style="padding: 30px 0;">
                            @foreach (var item in Model)
                            {
                                <div class="mdl-card mdl-shadow--2dp full-width product-card">
                                    <div class="mdl-card__title">
                                        <img src="@Url.Action("RetrieveImage", "Vehiculos", new { veh_id = @item.VEH_ID })" alt="product" class="img-responsive" />
                                    </div>
                                    <div class="mdl-card__supporting-text">
                                        <small>Año: @item.VEH_AÑO</small><br>
                                        <small>KMs: @item.VEH_KILOMETROS</small>
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border">

                                        @using (Html.BeginForm("Acciones", "Vehiculos", new { veh_id = @item.VEH_ID }, FormMethod.Post))
                                        {
                                            <text>@item.VEH_MODELO</text>
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true)
                                            @Html.HiddenFor(i => item.VEH_ID, new { veh_id = @item.VEH_ID })

                                            <a class="mdl-list__item-secondary-action" href="@Url.Action("Details", "Vehiculos", new { veh_id = item.VEH_ID })"><i class="zmdi zmdi-more" style="color: #2e6da4"></i></a>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


