@using Octopus.Models
@model Octopus.Models.EMPLEADOS
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Empleados - Nuevo";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}


<!-- pageContent -->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("List","Empleados")" class="mdl-tabs__tab">LISTA</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            NUEVO EMPLEADO
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm("Create", "Empleados", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)

                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.SUC_ID)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_APELLIDO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_NOMBRE)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_DNI)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_CODPOSTAL)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_DIRECCION)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_TELEFONO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_EMAIL)</div>

                                <div class="mdl-grid">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(a => a.EMP_DNI, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "1" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">DNI*</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(a => a.EMP_NOMBRE, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "2" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nombre*</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(a => a.EMP_APELLIDO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Apellido*</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.DropDownListFor(a => a.SUC_ID, (IEnumerable<SelectListItem>)ViewBag.Sucursal, "Seleccione una Sucursal*", new { @class = "mdl-textfield__input", tabindex = "4" })
                                        @Html.ValidationMessageFor(a => a.SUC_ID)
                                    </div>
                                    <!--El Tipo de Empleado debería ser otra tabla.-->
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.DropDownListFor(a => a.EMP_CARGO, (IEnumerable<SelectListItem>)ViewBag.Cargos, "Seleccione un Cargo*", new { @class = "mdl-textfield__input", tabindex = "4" })
                                        @Html.ValidationMessageFor(a => a.EMP_CARGO)
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(a => a.EMP_EMAIL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "6" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">E-Mail*</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        @Html.TextBoxFor(a => a.EMP_DIRECCION, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "8" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Direccion</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                        @Html.TextBoxFor(a => a.EMP_CODPOSTAL, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "9" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Código Postal</label>
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ">
                                        @Html.TextBoxFor(a => a.EMP_TELEFONO, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "10" })
                                        <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Teléfono</label>
                                    </div>
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <p style="color:red">Los campos * son obligatorios</p>
                                    </div>
                                  </div>
                                <p class="text-center">
                                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-addAdmin">
                                        <i class="zmdi zmdi-account-add"></i>
                                    </button>
                                    <div class="mdl-tooltip" for="btn-addAdmin">Agregar Empleado</div>
                                </p>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


