@using Octopus.Models
@model Octopus.Models.EMPLEADOS
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Empleados - Editar";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<!-- pageContent -->
<section class="full-width pageContent">
    <div id="help">
        <div class="text-right" style="padding-top:15px; padding-right:15px;">
            <button id="btn-exit" type="button" class="btn btn-info help"><i class="zmdi zmdi-pin-help"></i> Ayuda</button>

        </div>
    </div>
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Empleados")" class="mdl-tabs__tab">NUEVO</a>
            <a href="@Url.Action("List", "Empleados")" class="mdl-tabs__tab">LISTA</a>
        </div>
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width header-well">

                            <div class="full-width header-well-icon">
                                <i class="zmdi zmdi-trending-up"></i>
                            </div>
                            <div class="full-width header-well-text">
                                <p class="text-condensedLight">
                                    <b>EDITAR EMPLEADO</b><br />
                                    Complete los valores que desea editar y luego guarde los cambios.
                                </p>
                                <br />
                            </div>
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.SUC_ID)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_APELLIDO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_NOMBRE)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_DNI)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_CODPOSTAL)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_DIRECCION)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_TELEFONO)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_EMAIL)</div>
                                <div class="text-condensedLight" style="text-align: center; color: black; background-color: #ff4d4d; width:40%; margin-left:30%; margin-right:30%;">@Html.ValidationMessageFor(a => a.EMP_CARGO)</div>

                                <div class="mdl-grid">
                                    <div class="mdl-textfield mdl-js-textfield">

                                        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                                            <h5 class="text-condensedLight" style="color: #2e6da4">DATOS PERSONALES</h5>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                                @Html.TextBoxFor(a => a.EMP_DNI, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "1", @readonly = "true" })
                                                <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">DNI*</label>
                                            </div>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.TextBoxFor(a => a.EMP_NOMBRE, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "2" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Nombre*</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.TextBoxFor(a => a.EMP_APELLIDO, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "3" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Apellido*</label>
                                        </div>

                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.DropDownListFor(a => a.SUC_ID, Model.Sucursales_List, new { @class = "mdl-textfield__input", tabindex = "4" })
                                            <label class="mdl-textfield__label" style="color: #2e6da4">Sucursales*</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.DropDownListFor(a => a.EMP_CARGO, Model.Cargos_List, new { @class = "mdl-textfield__input", tabindex = "5" })
                                            <label class="mdl-textfield__label" style="color: #2e6da4">Cliente*</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.TextBoxFor(a => a.EMP_EMAIL, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "6" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">E-Mail*</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.TextBoxFor(a => a.EMP_DIRECCION, new { @class = "mdl-textfield__input", @typeof = "text", tabindex = "7" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Direccion</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.TextBoxFor(a => a.EMP_CODPOSTAL, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "8" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Código Postal</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--5-col-desktop">
                                            @Html.TextBoxFor(a => a.EMP_TELEFONO, new { @class = "mdl-textfield__input", @typeof = "number", tabindex = "9" })
                                            <label class="mdl-textfield__label" for="NameAdmin" style="color: #2e6da4">Teléfono</label>
                                        </div>
                                        @Html.HiddenFor(m => m.EMP_ESTADO)
                                        @Html.HiddenFor(m => m.EMP_USUARIO)
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <p style="color:red">Los campos * son obligatorios</p>
                                        </div>
                                    </div>

                                </div>
                                <p class="text-center">
                                    <button name="Action" value="Edit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bg-primary" id="btn-editClient" tabindex="10;">
                                        <i class="zmdi zmdi-save"></i>
                                    </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div class="mdl-tooltip" for="btn-editEmpleado">Guardar Cambios</div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
