@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Octopus.Models.EMPLEADOS>

@{ //if(Session["Usuario"] != null)
    //{
     // USUARIOS user = Session["Usuario"] as USUARIOS;
      ViewBag.Title = "Empleados";
      Layout = "~/Views/Shared/_HomePanel.cshtml";
   // }
   //else
   //{
     //  @Url.Action("Login","Login")
  // }
}



<!DOCTYPE html>

<!-- Page Content-->-->
<section class="full-width pageContent">
    <div>
        <div class="mdl-tabs__tab-bar">
            <a href="@Url.Action("Create","Empleados")" class="mdl-tabs__tab">NUEVO</a>
            <a href="@Url.Action("List","Empleados")" class="mdl-tabs__tab" style="color: #2e6da4">LISTA</a>
        </div>

        <div class="mdl-tabs__panel" id="tabListEmpleados">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--8-col-desktop mdl-cell--2-offset-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            LISTA DE EMPLEADOS
                        </div>
                        <div class="full-width panel-content">
                            @using (Html.BeginForm("List", "Empleados", FormMethod.Get))
                            {
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                                    <label class="mdl-button mdl-js-button mdl-button--icon" for="searchEmpleado">
                                        <i class="zmdi zmdi-search" onclick=""></i>
                                    </label>
                                    <div class="mdl-textfield__expandable-holder">
                                        @Html.TextBox("searchEmpleado", null, new { @class = "mdl-textfield__input" })
                                    </div>
                                    <input type="submit" value="Filtrar" style="border: none; color: #2e6da4; background-color: none; visibility: hidden" />
                                </div>
                            }
                            <div class="mdl-list">
                                 @foreach (var item in Model)
                                                {
                                                    
                                                        <div class="mdl-list__item mdl-list__item--two-line">
                                                            <span class="mdl-list__item-primary-content">
                                                                <i class="zmdi zmdi-account mdl-list__item-avatar"></i>
                                                                <span><b>@Html.DisplayFor(modelItem => item.NombreParaMostrar)</b></span><br />

                                                                <span class="mdl-list__item-sub-title">Sucursal: @Html.DisplayFor(modelItem => item.SUC_DESC)</span>
                                                            </span>
                                                            <a class="mdl-list__item-secondary-action" href="@Url.Action("Details", "Empleados", new { id = item.EMP_ID })"><i class="zmdi zmdi-more" style="color: #2e6da4"></i></a>
                                                        </div>
                                                }
                                  </div>
                        </div>
                        <div style="text-align:center;">
                            @Html.PagedListPager(Model, page => Url.Action("List", "Empleados", new { page, search = Request.QueryString["search"], @class = "list-unstyle text-center" }))
                        
                        </div>
                         </div>

                </div>
            </div>
        </div>

    </div>
</section>

<link rel="stylesheet" href="~/Css/bootstrap_pag.css" />