@model IEnumerable<Octopus.Models.RESERVAS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RES_SENIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RES_VALOR_PACTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RES_FIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RES_ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLIENTES.CLI_DOC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPLEADOS.EMP_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAS.FEC_NOMBREDIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VEHICULOS.VEH_MARCA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RES_SENIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RES_VALOR_PACTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RES_FIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RES_ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CLIENTES.CLI_DOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMPLEADOS.EMP_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAS.FEC_NOMBREDIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VEHICULOS.VEH_MARCA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RES_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RES_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RES_ID })
        </td>
    </tr>
}

</table>
