@model IEnumerable<Octopus.Models.RESERVAS>

@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_HomePanel.cshtml";
}


<section class="full-width pageContent">
    <section id="help">
        <div class="text-right" style="padding-top:15px; padding-right:15px;">
            <button id="btn-exit" type="button" class="btn btn-info help"><i class="zmdi zmdi-pin-help"></i> Ayuda</button>

        </div>
    </section>
    <div class="mdl-tabs__tab-bar">
        <a href="@Url.Action("List", "Reservas")" class="mdl-tabs__tab" id="btn-ResNuevo">ACTIVAS</a>
        <div class="mdl-tooltip" for="btn-ResNuevo">Reservas Activas</div>
        <a  class="mdl-tabs__tab" id="btn-ResVencidas" style="color: #2e6da4; font-weight:bold">VENCIDAS</a>
        <div class="mdl-tooltip" for="btn-ResVencidas">Reservas Vencidas</div>
        <a href="@Url.Action("ListCanceladas", "Reservas")" class="mdl-tabs__tab" id="btn-ResCanceladas">CANCELADAS</a>
        <div class="mdl-tooltip" for="btn-ResCanceladas">Reservas Canceladas</div>
    </div>
    <section class="full-width header-well">
        <div class="full-width header-well-icon">
            <i class="zmdi zmdi-label"></i>
        </div>
        <div class="full-width header-well-text">
            <p class="text-condensedLight">
                <b>LISTADO DE RESERVAS VENCIDAS</b><br />
                Presione sobre los 3 puntos para ver los detalles
            </p><br />
        </div>
    </section>


    <div class="full-width divider-menu-h"></div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
            @using (Html.BeginForm("List", "Reservas", FormMethod.Get))
            {
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <button id="btn-exit" type="button" class="btn btn-info help-search"><i class="zmdi zmdi-pin-help"></i></button>

                      <label class="mdl-button mdl-js-button mdl-button--icon" for="searchReserve" id="btn-searchReserve">
                        <i class="zmdi zmdi-search" onclick=""></i>
                    </label>
                    <div class="mdl-tooltip" for="btn-searchReserve">Buscar Reserva</div>
                    <div class="mdl-textfield__expandable-holder">
                        @Html.TextBox("searchReserve", null, new { @class = "mdl-textfield__input" })
                    </div>
                    <input type="submit" value="Filtrar" style="border: none; color: #2e6da4; background-color:none; visibility:hidden" />
                </div>
            }
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive">
                <thead>
                    <tr>
                        <th style="text-align:center"><b>VEHÍCULO</b></th>
                        <th style="text-align:center"><b>CLIENTE</b></th>
                        <th style="text-align:center"><b>SUCURSAL</b></th>
                        <th style="text-align:center"><b>EMPLEADO</b></th>
                        <th style="text-align:center"><b>INICIO</b></th>
                        <th style="text-align:center"><b>VENCIMIENTO</b></th>
                        <th style="text-align: center"> <button id="btn-exit" type="button" class="btn btn-info help-detail"><i class="zmdi zmdi-pin-help"></i></button></th>
                    </tr>
                </thead>
                <tbody>
                    @{var cont = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align:center"><b>@Html.DisplayFor(modelItem => item.VEHICULOS.VEH_PAT_MARCA_MODELO)</b></td>
                            @if (item.CLIENTES.TC_ID.Equals(1))
                            {
                                <td>@Html.DisplayFor(modelItem => item.CLIENTES.CLI_APELLIDO_NOMBRE)</td> }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.CLIENTES.CLI_RI_RAZONSOCIAL)</td> }
                            <td style="text-align:center">@Html.DisplayFor(modelItem => item.SUCURSALES.SUC_DESCRIP)</td>
                            <td style="text-align:center">@Html.DisplayFor(modelItem => item.EMPLEADOS.EMP_APELLIDO_NOMBRE)</td>
                            <td style="text-align:center">@Html.DisplayFor(modelItem => item.FECHAS.FEC_FECHA)</td>
                            <td style="text-align:center">@Html.DisplayFor(modelItem => item.FECHAS1.FEC_FECHA)</td>
                            @{cont = cont + 1;}
                            <td style="text-align:center"><a class="mdl-list__item-secondary-action" href="@Url.Action("Details", "Reservas", new { res_id = item.RES_ID })"><i class="zmdi zmdi-more" style="color: #2e6da4"></i></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

</section>


